# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore Terraform plan output
*.tfplan

# Ignore .terraform working directory
.terraform/

# Ignore variable override files (optional)
terraform.tfvars
terraform.tfvars.json

# Ignore lock Terraform configuration files
.terraform.lock.hcl

# Ignore key files
.pem
# Ignore SSH private keys
Practise/Day-16-advanced-ec2-setup/keys/us-east-1.pem
Practise/Day-16-advanced-ec2-setup/keys/id_ed25519.pub
